EXPO_PUBLIC_API_BASE_URL=http://localhost:8080/api
EXPO_PUBLIC_ANDROID_API_BASE_URL=http://10.0.2.2:8080/api
EXPO_PUBLIC_EAS_PROJECT_ID=your-eas-project-id
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-ios-google-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_ANDROID_CLIENT_ID=your-android-google-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-web-google-client-id.apps.googleusercontent.com
EXPO_PUBLIC_LOCATION_SEARCH_BASE_URL=https://nominatim.openstreetmap.org
EXPO_PUBLIC_LOCATION_SEARCH_APP_ID=gdjeikada-native
EXPO_PUBLIC_MAPLIBRE_DARK_STYLE_URL=https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json
EXPO_PUBLIC_MAPLIBRE_LIGHT_STYLE_URL=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json
