EXPO_PUBLIC_API_BASE_URL=https://gik.nerizz.com/api
EXPO_PUBLIC_ANDROID_API_BASE_URL=https://gik.nerizz.com/api
EXPO_PUBLIC_EAS_PROJECT_ID=your-test-eas-project-id
GOOGLE_SERVICES_JSON_PATH=./google-services.json
IOS_USES_APPLE_SIGN_IN=false
EXPO_PUBLIC_GOOGLE_IOS_CLIENT_ID=your-test-ios-google-client-id.apps.googleusercontent.com
EXPO_PUBLIC_GOOGLE_WEB_CLIENT_ID=your-test-web-google-client-id.apps.googleusercontent.com
GOOGLE_IOS_URL_SCHEME=com.googleusercontent.apps.your-test-ios-client-id-prefix
EXPO_PUBLIC_LOCATION_SEARCH_BASE_URL=https://nominatim.openstreetmap.org
EXPO_PUBLIC_LOCATION_SEARCH_APP_ID=gdjeikada-native-test
EXPO_PUBLIC_MAPLIBRE_DARK_STYLE_URL=https://basemaps.cartocdn.com/gl/dark-matter-gl-style/style.json
EXPO_PUBLIC_MAPLIBRE_LIGHT_STYLE_URL=https://basemaps.cartocdn.com/gl/positron-gl-style/style.json
